* {
  box-sizing: border-box;
}
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: Lato;
  color: #1c1c1c;
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
  color: #1c1c1c;
  font-family: Lato;
}
/* header */

header {
  display: flex;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.04);
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* header-search  */
.search-div {
  flex: 1;
  display: flex;
  background-color: white;
}
.search-div input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1rem;
}
.search-div img {
  width: 20px;
  object-fit: contain;
  margin: 0 0.5rem;
}
.search-div input:focus {
  outline: none;
}
/* header-sort */
.sort-btn,
search-div {
  height: 40px;
}
.sort-btn {
  padding: 0 1rem;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}
.sort-btn,
.search-div {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.sort-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.active {
  background-color: rgba(0, 98, 255, 0.1);
}
.sort-div {
  position: relative;
}
/* header-sort-options-modal */
.sort-option-card {
  margin-top: 0.5rem;
  position: fixed;
  width: 250px;
  height: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.close-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.close-btn {
  border: none;
  background-color: white;
  font-size: 1.25rem;
  font-weight: lighter;
}
.sort-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sort-options button {
  width: 100%;
  text-align: left;
  padding: 0.75rem;
  padding-left: 2rem;
  border-left: none;
  border-right: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 0.9rem;
}
.sort-options button:nth-child(1) {
  border-bottom: none;
}
.sort-options button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/* main section data-list-container */
main {
  flex-grow: 1;
  display: flex;
}
.data-list-container {
  width: 50%;
  border-right: 2px solid rgba(0, 0, 0, 0.15);
}
.episodes {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.episodes p {
  text-align: left;
}
.episodes p:nth-child(3) {
  margin-left: auto;
  margin-right: 0;
}
.episodes p:nth-child(odd) {
  color: rgba(28, 28, 28, 0.75);
}
.episodes p:nth-child(1) {
  font-size: smaller;
}
.episodes:last-child {
  border-bottom: none;
}
.episodes:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
/* description showing container */
.description-container {
  width: 50%;
  padding: 1rem;
}

.description-container-empty {
  margin: auto;
  text-align: center;
}
.details-body {
  line-height: 2rem;
}
/* loader */
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 18px dotted #1c1c1c;
  border-radius: 100%;
  animation: rotateAnimation 6s ease infinite; /* Adjust duration and timing function as needed */
}

/* media queries */
@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }
  .data-list-container {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .description-container {
    width: 100%;
  }
}
